@charset "utf-8";
/*----ff，+ie7，_ie6----*/
/** 清除内外边距 **/
body, h4, h5, h6, p, dl, dt, dd, ul, ol, menu, li, pre, form, fieldset, legend, button, input, textarea{margin: 0;padding: 0;}
/** 设置默认字体 **/
body, button, input, textarea /* for ie */{font: 12px/1.5 '微软雅黑','宋体', tahoma, arial, sans-serif;}
h4, h5 {font-size: 100%;}
address, cite, em, var, i {font-style: normal;}/* 将斜体扶正 */
code, kbd, pre, samp {font-family: courier new, courier, monospace;} /* 统一等宽字体 */
small {font-size: 12px;}/* 小于 12px 的中文很难阅读，让 small 正常化 */
section,article,aside,header,footer,nav,figure{display:block;}
ul, ol, menu {list-style: none;}/* 重置列表元素 */

sup {vertical-align: text-top;}/* 重置，减少对行高的影响*/
sub {vertical-align: text-bottom;}

/** 重置表单元素 **/
legend {color: #666;} /* for ie6 */
img {border: 0;} /* img 让链接里的 img 无边框 */
button, input, select, textarea {font-size: 100%;} /* 使得表单元素在 ie 下能继承字体大小 */
input:focus, textarea:focus{outline:none;}/* 注：optgroup 无法扶正 */
a{ text-decoration:none; outline:none;}/*解决ie下点击a出现虚线边框的问题*/

/*---- alllink ----*/
a:link, a:visited{color:#333; text-decoration: none;}
a:hover{color: #0066cc; /*font-weight: bold; */}
a.white:link, a.white:visited{color:#FFF; text-decoration: none;}
a.white:hover{color: #CCC;}#left .lnav .lnav_dt .ti{color: #d5e5f4;}
a.ti{color: #d5e5f4;}a.tab_btn{color: #4fcaf3;}
a.secnav { color:#FFF; } 
a.red{ color: red;} a.green{ color: green;}
a.tz3{ color:#006699;}a.tz2{color:#b50000;}
.list_table .tab_btn{color: #4fcaf3; cursor:pointer;}
.tapi_main{width:100%;background:#eee;font-size:12px; font-family:"宋体";}
.tapi_main .main_wrap{width:990px;margin:0 auto;}
.main_wrap .main_ctime{ color:#333;line-height:50px;float:right;}
.sys_api{width:890px;padding:35px 50px 45px 50px;background:#fff;clear:both;overflow:hidden;color:#585858;border-radius:10px;}
.main_wrap .basic_mess{margin-top:30px;}
.tapi_footer{width:990px;margin:0 auto;color:#aaa;padding:45px 0;text-align:center;}
.main_wrap .sys_des{padding-bottom:20px;}
/* demo start*/
.inp_url{width:852px;height:40px;line-height:40px;border:4px solid #eee;padding:0 15px;color:#aaa;}
.dem_ul{margin-top:30px;}
.dem_ul .dem_li{padding:20px 20px 5px 20px;border-bottom:1px solid #e8eaec;}
.dem_ul .dem_txt,.dem_ul .dem_num{font-size:14px;font-weight:600;}
.dem_ul .dem_num,.dem_ul .dem_del{margin-left: 50px;}
.dem_ul .dem_del{cursor:pointer;color:#4799d5;}
.dem_ul .inp_txt, .dem_ul .inp_num{width:280px;padding:5px 10px;border:1px solid #e8eaec;}
.dem_btns{overflow:hidden;padding:20px 0 10px 0;}
.dem_btns div{float:right;}
.btn_subm,.btn_add{width:168px;height:38px; border:1px solid #83cfff;line-height:38px; text-align:center; font-size:14px;}
.btn_reset,.btn_add{margin-right:20px;cursor:pointer;}
.btn_subm{background:#4978d5;color:#fff;cursor:pointer;}
.btn_add{background:#f7fcff;color:#4799d5;}
.btn_reset{border:none;color:#4799d5;line-height:38px;}
.res_txt{font-size:14px; font-weight:600;padding:20px 0;}
.res_val{width:852px;min-height:190px;border:4px solid #eee;padding:15px; color:#aaa;resize:none;}
.dem_vail{font-size: 12px;color:#4978d5;margin-left: 19px;margin-top: 5px;}
/* demo end*/
